.form-container > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border:green;
}


.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media (max-width: 600px){
  h3{
    margin: 10px;
    font-size: 35px;
  }
}
