.header{
  width: 100%;
  height: 6em;
  display: flexbox;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0em;
  padding: 0em;
  top: 0em;
  text-align: left;
  background-color: rgba(250, 235, 215, 0.295);
}


h1{
  font-size: 5em;
  padding: 0em;
  margin:0em;
  color: rgba(0, 0, 0, 0.651);
}


.navbar * {
  text-decoration: none;
  border-radius: 5px;
  background-color:rgba(0, 0, 0, 0.432);
  border: 1px solid antiquewhite;
  color: antiquewhite;
  height: 3em; 
  width: 10em;
  padding: 1em 2em;
  top: 0em;
  display: flexbox;
}
