.layout{
  display: flex;
  flex-direction: column;
  margin: 0px;
}

nav{
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(77,0,19, 0.5);
  color: rgba (255,255,255, 0.5);
  padding: 10px 10px;
  text-decoration: none;
}