.movie{
  display: flex;
  flex-direction: row;
  height: 25%;
  margin: 20px 0px;
}

img {
  height: 100%;
  width: 25%;
  object-fit: cover;
  border-radius: 10px;
}

.movie-right{
  margin: 0px 20px;
  align-items: flex-start;
  justify-content: flex-start;
}

.movie-right * {
  margin: 10px 0px;
}


.detail-button{
  width: 30%;
  margin: 0px 30px 0px 0px;
}


@media (max-width: 600px){
  img {
    width: 60%;
    height: 10%;
  }
  .movie {
    width: 100%;
    flex-direction: column;
    height: 100%;
    align-items: center;
    text-align: center;
  }

  .Movie > img {
    width: 100%;
    width: 70%;
    height: 50%;
  }

  .movie-right{
    width: 100%;
    align-items:center;
  }

  .detail-buttons{
    display: flex;
    flex-direction: column;
  }

  .detail-button{
    width: 80%;
    margin: 0px;
  }
}


@media (min-width: 600px) and (max-width: 900px){
.movie-right{
  text-align: left;
}
h2{
  text-align: left;
}
.detail-button{
  width: 40%;
}
}