.movie{
  display: flex;
  flex-direction: row;
  height: 25%;
  margin: 20px 0px 0px 0px;
}

.movie * {
  margin: 5px;
}



img {
  height: 100%;
  width: 25%;
  object-fit: cover;
  border-radius: 10px;
}

.movie-right{
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start
}

.detail-buttons {
  display: flex;
  flex-direction: row;
}

button{
  width: 20%;
  margin: 0px 5px;
}


@media (max-width: 600px){
  .movie {
    width: 100%;
    flex-direction: column;
    height: 100%;
    align-items: center;
    text-align: center;
  }

  .Movie > img {
    width: 100%;
    width: 70%;
    height: 50%;
  }

  .movie-right{
    width: 100%;
    align-items:center;
  }

  .detail-buttons{
    display: flex;
    flex-direction: column;
  }

}
