.movie{
  display: flex;
  flex-direction: row;
  height: 25%;
  margin: 0px;
}



img {
  height: 100%;
  width: 25%;
  object-fit: cover;
  border-radius: 10px;
}

.movie-right{
  margin: 0px 20px;
}

button{
  width: 20%;
  margin: 0px 5px;
}