.Movie{
  display: flex;
  flex-flow: row nowrap;
  width: 46%;
  height: 45%;
  margin: 15px;
  background-color: rgba(196, 175, 175, 0.8);
  align-items: stretch;
  overflow: auto;
}

.Movie * {
  margin: 0px;
}

.movie-text * {
  margin: 5px 5px;
  padding: 0px;
}

.movie-text{
  display: flex;
  flex-direction: column;
  font-size: 14px;  
  width: 65%;
}

h4{
  font-size: 24px;
}

.movie-title{
  font-size: 24px;
  width: 100%;
}

.movie-buttons{
  display: flex;
  flex-direction: row;
  width: 100%;
}


 .button-link {
  width: 30%;
}

.button-link > button {
  width: 100%;
  margin: 0px;
  padding: 4px;
}

.Movie > img {
  width: 35%;
}
